@import url(./modern-normalize.css);

:root {
    --neutral-dark: #0f4640;
    --neutral: #2a9d8f;
    --neutral-light: #9bded6;
    --neutral-black: #042a25;
    --accent: #F5763D;
}

body {
    background-color: var(--neutral-light);
    color: var(--neutral-black);
}

.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "form library";
}

.header {
    background-color: var(--neutral-dark);
    color: white;

    grid-area: header;

    display: flex;
    justify-content: center;
    justify-items: center;
}

/* FORM */

.form {
    background: var(--neutral);

    padding: 1rem;
}

.form h2 {
    text-align: center;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.form .input {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    position: relative;
}

.form .input label {
    font-size: 0.75rem;
    font-weight: 600;
    color: white;
}

.form .input input {
    appearance: none;
    border: none;
    outline: none;

    padding: 0.5rem;
    border-radius: 4px;

    color: var(--neutral-black)
}

.form .input input:focus {
    outline: 2px solid var(--neutral-light);
}

.form .input input + span {
    position: absolute;
    right: 0;
    bottom: -1rem;
}

.form .input input:user-invalid + span:before {
    content: "Don't forget this!";
    
    color: white;
    font-size: 0.75rem;
}

.form .checkbox {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: white;
}

.form button {
    appearance: none;
    border: none;
    background-color: var(--neutral-light);
    color: var(--neutral-black);
    padding: 0.5rem;
    border-radius: 4px;
}

/* LIBRARY */

.library {
    display: grid;
    gap: 1rem;
    padding: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
    
}

.book {
    background-color: white;

    border-radius: 4px;
    border-top: 6px solid var(--accent);
    padding: 1rem;

    display: grid;
    align-content: center;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
}

.book .title,
.book .author {
    grid-column-end: span 2;
}

.book .title {
    font-size: 1.5rem;
    font-weight: 600;
}

.book .author {
    font-size: 1.25rem;
}

.book .read {
    text-align: right;
    font-style: italic;
}